<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>返老還童-制服聯誼 | 7TAO 活動訂票網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <div class="container-fluid">
        <!-- details-date -->
        <div class="row mb-6">
          <div class="col-lg-10 mb-2 mb-lg-0">
            <div class="border border-3 p-3 p-md-6">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/09.jpg?raw=true"
                alt="返老還童-制服聯誼"
                class="details-img w-100 o-f-cover"
              />
            </div>
          </div>
          <div class="col-lg-2">
            <div
              class="row gx-2 text-center h-100 flex-row flex-lg-column justify-content-between"
            >
              <div class="col-4 col-lg-12">
                <h3 class="border border-3 py-6 py-lg-8 fs-5 fs-lg-3">2023</h3>
              </div>
              <div class="col-8 col-lg-12">
                <div
                  class="details-date border border-3 px-6 px-lg-0 py-lg-12 d-flex flex-lg-column align-items-center justify-content-between position-relative lh-120"
                >
                  <div class="fs-10 fs-lg-3 d-flex flex-column gap-1">
                    <p>MAY</p>
                    <p>19</p>
                  </div>
                  <div class="fs-7 fs-lg-4 d-flex flex-column gap-1">
                    <p>12:00</p>
                    <p>｜</p>
                    <p>20:00</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- details-title -->
        <div class="mb-6 mb-md-12">
          <h2 class="fs-4 fs-md-2 mb-2 mb-md-4 ls-2">返老還童-制服聯誼</h2>
          <p class="fs-md-10 tc-sans mb-0 mb-lg-6">
            穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！
          </p>
          <div class="d-none d-md-flex gap-2">
            <span class="badge">聯誼</span>
            <span class="badge">美食</span>
            <span class="badge">戶外</span>
            <span class="badge">交通旅遊</span>
          </div>
        </div>
        <!-- details-desc -->
        <div class="border border-3 p-4 p-md-8 mb-6 mb-md-12 tc-sans bg-gray">
          <p class="mb-4">想回到過去？試著讓故事繼續？</p>
          <p class="mb-4">
            由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！
          </p>
          <p>
            活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶&lt;3
          </p>
        </div>
        <!-- details-ticket -->
        <div
          class="d-flex justify-content-between align-items-center border border-3 py-4 py-md-6 px-3 px-md-8 mb-6 mb-md-8"
        >
          <h3 class="fs-5 fs-md-1">TICKET</h3>
          <h3 class="fs-7 fs-md-4 fw-bold">購票資訊</h3>
        </div>
        <table class="table w-100 align-middle mb-12 mb-md-15">
          <thead>
            <tr>
              <th
                scope="col"
                class="details-ticket-date border-bottom border-3 px-0 px-lg-2"
              >
                活動日期
              </th>
              <th
                scope="col"
                class="details-ticket-type border-bottom border-3 px-0 px-lg-2"
              >
                票種
              </th>
              <th
                scope="col"
                class="details-ticket-price border-bottom border-3 px-0 px-lg-2"
              >
                票價
              </th>
              <th
                scope="col"
                class="details-ticket-buy border-bottom border-3 px-0 px-lg-2"
              >
                購票
              </th>
            </tr>
          </thead>
          <tbody class="tc-sans fs-9 fs-md-7">
            <tr>
              <th scope="row" class="fw-normal px-0">2023/5/12</th>
              <td class="px-0">普通票</td>
              <td class="px-0">$600</td>
              <td class="px-0">
                <a
                  href="##"
                  class="details-ticket-buy-button btn btn-outline-primary border border-2 px-md-5"
                  ><span class="d-none d-lg-inline-block tc-serif">立即</span
                  >購票</a
                >
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal px-0">2023/5/12</th>
              <td class="px-0">改頭換面票（含大改造）</td>
              <td class="px-0">$3600</td>
              <td class="px-0">
                <a
                  href="##"
                  class="details-ticket-buy-button btn btn-outline-primary border border-2 px-md-5"
                  ><span class="d-none d-lg-inline-block tc-serif">立即</span
                  >購票</a
                >
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal px-0">2023/5/12</th>
              <td class="px-0">必勝票（含戀愛小抄）</td>
              <td class="px-0">$8000</td>
              <td class="px-0">
                <a
                  href="##"
                  class="details-ticket-buy-button btn btn-outline-primary border border-2 px-md-5"
                  ><span class="d-none d-lg-inline-block tc-serif">立即</span
                  >購票</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
